html {
    scroll-behavior: smooth;
}

#representation {
    -webkit-animation: color-change 5s infinite;
    -moz-animation: color-change 5s infinite;
    -o-animation: color-change 5s infinite;
    -ms-animation: color-change 5s infinite;
    animation: color-change 5s infinite;

    animation-timing-function: step-end;
}

    @-webkit-keyframes color-change {
        from { color: #0015BC; }
        50% { color: #FF0000; }
        from { color: #0015BC; }
    }
    @-moz-keyframes color-change {
        from { color: #0015BC; }
        50% { color: #FF0000; }
        from { color: #0015BC; }
    }
    @-ms-keyframes color-change {
        from { color: #0015BC; }
        50% { color: #FF0000; }
        from { color: #0015BC; }
    }
    @-o-keyframes color-change {
        from { color: #0015BC; }
        50% { color: #FF0000; }
        from { color: #0015BC; }
    }
    @keyframes color-change {
        from { color: #0015BC; }
        50% { color: #FF0000; }
        from { color: #0015BC; }
    }  

    .directory-borders {
        border-width: 1px;
        border-color: #D1D5DB;
    }

    .sub-caption-directory {
        width: 190px;
    }
    


 

